*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  min-height: 100vh;
}


nav {
  background-color: lightblue;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 30px;
  color: black;
}


.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}